body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}

.wrapper-container {
    color: black;
    background-color: white;
    padding: 50px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em;
    margin-top: 30px;
    margin-bottom: 10px;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    background: linear-gradient(to right, #1ea04d, #ffffff80);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.section ul {
    list-style: disc;
    padding-left: 20px;
}

.artist-info,
.distributor-info {
    background-color: #1ea04d;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.artist-info p,
.distributor-info p {
    margin: 5px 0;
}

.contract-term {
    margin-bottom: 20px;
}

.signature-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.signature {
    border-top: 1px solid #000;
    padding-top: 10px;
    width: 300px;
    text-align: center;
}

.logo {
    position: absolute;
    top: 45px;
    right: 45px;
    width: 100px;
}

.arrow {
    font-size: 2em;
    vertical-align: middle;
}

.decorative-line {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #e74c3c;
    margin-left: 5px;
}